<div class="row">
  <div class="col-sm-7">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Name
            <i
              class="fa fa-sort c-pointer"
              aria-hidden="true"
              (click)="sortCandiates('name')"
            ></i>
          </th>
          <th scope="col">Department</th>
          <th scope="col">
            Joining Date
            <i
              class="fa fa-sort c-pointer"
              aria-hidden="true"
              (click)="sortCandiates('joining_date')"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidateList">
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.department }}</td>
          <td>{{ candidate.joining_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
